/* CSS declarations go here */
.hidden_div{
	display:none;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 50px 0;
    padding: 0;
    padding-top: 5px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.navbar {
  margin-bottom: 10px; }
  .navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px; }


